name: Update Changelog

on:
  workflow_call:

permissions:
  contents: write

jobs:
  changelog:
    if: ${{ github.event_name == 'push' && (github.ref_name == github.event.repository.default_branch || startsWith(github.ref, 'refs/tags/v')) }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.repository.default_branch }}
          fetch-depth: '0'
          fetch-tags: true
      - name: update-changelog
        run: |
          MAJOR_VERSION=$(ls | grep CHANGELOG |  cut -d'-' -f 2 | cut -f 1 -d '.' |  grep v | sort -V -r | head -n 1)
          if [ -z "$MAJOR_VERSION" ]; then
            MAJOR_VERSION=0
          else
            MAJOR_VERSION=${MAJOR_VERSION#"v"}
            MAJOR_VERSION=$((MAJOR_VERSION+1))
          fi
          
          
          previousTag=$(git tag --list 'v[0-9]*.[0-9]*.[0-9]*' --sort=-v:refname |
            awk -v mv="$MAJOR_VERSION" '
              {
                t = $0
                sub(/^v/, "", t)
                split(t, a, ".")
                # filter tags matching the specified major version and return the latest (first match)
                if (a[1]+0 == mv+0) {
                  print $0
                  exit
                }
              }
            ' || true)

          if [ -z $previous_tag ]; then
            docker run --rm -v $(pwd):/src -w /src githubchangeloggenerator/github-changelog-generator -u ${{ github.repository_owner }} -p ${{ github.event.repository.name }} -t ${{ secrets.GITHUB_TOKEN }} --no-issues --no-compare-link
          else
            docker run --rm -v $(pwd):/src -w /src githubchangeloggenerator/github-changelog-generator -u ${{ github.repository_owner }} -p ${{ github.event.repository.name }} -t ${{ secrets.GITHUB_TOKEN }} --no-issues --no-compare-link --since-tag=$previous_tag
          fi
          sudo chmod -R ugo+rwX .
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          branch: ${{ github.event.repository.default_branch }}
          commit_message: 'chore: update changelog'
